@font-face {
    font-family: 'Spacey';
    src: url(./spacey.ttf);
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    
}

#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    height: 70px;
    width: 100%;
    background-color: #800080;
}

.navButton {
    height: 40px;
    width: 80px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    border: none;
    background-color: yellow;
}

#content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./abstract.jpg');
}


#subcontent {
    height: auto;
    width: 90%;
    max-width: 650px;
    margin: 50px 100px 20px 100px;
    border-radius: 15px;
    background-color: lime;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

#banner {
    border: 2px solid black;
    border-radius: 30px;
    background-color: #f10079;
    font-size: 48px;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    font-family: 'Spacey';
}

#about {
    border: solid 2px black;
    border-radius: 20px;
    background-color: orange;
    font-size: 25px;
    margin: 50px;
    padding: 10px;
    max-width: 700px;
    font-family: 'Spacey';
}

#location {
    border: 2px solid black;
    border-radius: 30px;
    background-color: #f10079;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Spacey';
}